@import url("https://fonts.googleapis.com/css?family=Cabin:400,500,700|Montserrat:400,500,700");
*{
    margin:0;
    font-family: "Cabin", sans-serif;
}


/* Button Stuff */

.btn{
    padding: 8px;
    cursor: pointer;
    border-radius: 8px;
    border-color: white;
    font-family: Arial, Helvetica, sans-serif;
    transition: opacity .25s;
}

#process-screen{
    display: none;
}

.btn:hover{
    opacity: .8;
}

.btn:active{
    opacity: .6;
}

#add-button{
    background: rgb(24, 170, 24);
    color:white;
    padding-left: 10px;
    padding-right: 10px;
}


#all-buttons-container{
    width: 100%;
    position:sticky;
    top:0;
    gap:8px 8px;

}



.all-col-btn{
    margin: 2px;
    display: inline;
}

.remove-button{
    background: red;
    color:white;
}



#combine-button-container{
    position: sticky;
    bottom: 0;
    right:0;
    padding-top: 5px;
    text-align: right;
    padding-bottom: 10px;
}

#combine-button{
    background: rgb(83, 83, 240);
    color:white;
    padding: 10px;
    font-weight: bold;
}

#add-button-container{
    width: 89%;
    padding-top: 5px;
    bottom:0;
    display: flex;
    justify-content: center;
}

/* Button stuff ends here */

/* Most welcome container related stuff */

#welcome-container{
    display: flex;
    height: 100vh;
    width: 100vw;
    position: relative;
    flex-direction: column;
    /* display: none; */
}

#welcome-header{
    padding-top: 50px;
    text-align: center;
}

#welcome-file-controls{
    padding-top: 20px;
    position: relative;
    /* align-items: center; */
    display: flex;
    gap: 10px;
    justify-content: center;
}

#welcome-file-names-display{
    position: relative;
    padding-top: 20px;
    overflow: auto;
    height: 200px;
    padding-bottom: 20px;

    /* justify-content: center; */
}
#file-names-container{
    position: absolute;
    /* height: 100px; */
    /* background: white; */
    display: flex;
    flex-direction: column;
    left: 25%;




}

#welcome-submit-button-container{
    position: relative;
    display: flex;
    justify-content: center;
    /* left: 50%; */
}

#welcome-submit-button{
    background: rgb(83, 83, 240);
    color:white;
    padding: 10px;
    font-weight: bold;
}

/* Welcome container ends here */



#end-container{
    display:none;
}

#process-header{
    padding-top: 30px;
    padding-left: 5px;
}


#process-container{
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    padding-left: 10px;
    padding-right: 10px;
}

#left-process{
    width: 65%;
    flex-grow: 2;
    position: relative;


}

#right-process{
    /* flex-grow: 1; */
    width: 35%;
    position: relative;
    padding-left: 5px;
    
    

}




#inputs-container{
    display: grid;
    grid-template-columns: 1fr 1fr 75px;
    gap: 10px 5px;
}


.process-input-field{
    padding-left: 10px;
    border-radius: 8px;
    border-color: rgb(201, 201, 201);

}